.navContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: flex-end;
    padding: 1.5rem
}

.navContainer a {
    text-decoration: none;
    color: black;
    margin: 1rem;
}

.signOutBtn {
    background: none;
    border: none;
    font-size: 1rem;
}
