.fileListContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.singleFileContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid;
    margin-block: 0.6rem;
    padding: 0.5rem
}

.fileAttribute {
    margin: 0.4rem;
}

.deleteFileBtn {
    background-color: red;
    color: white;
    padding: 0.8rem;
    border: 0px;
    border-radius: 5px;
    margin-left: auto;
}

.selectFileToUploadBtn {
    background-color: blue;
    color: white;
    padding: 0.8rem;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
}

.selectFileToUploadBtn:hover {
    cursor: pointer;
}

.fileDownloadBtn {
    background-color: blue;
    color: white;
    padding: 0.8rem;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
    margin-inline-end: 0.5rem;
}

.fileDeleteBtn {
    background-color: blue;
    color: white;
    padding: 0.8rem;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
    margin-inline-end: 0.5rem;
}

.fileInput {
    display: none;
}

.uploadForm {
    margin-block: 1rem;
}

.nameCol {
    text-align: left;
}

.uploadDateCol {
    text-align: right;
}

.fileCheckbox {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
  }

.fileCheckbox:checked {
    background-color: #000;
}
