.fileListContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;

    @media (max-width: 1024px){
        width: 90%;
    }
}

.selectFileToUploadBtn {
    background-color: blue;
    color: white;
    padding: 0.8rem;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
}

.selectFileToUploadBtn:hover {
    cursor: pointer;
}

.fileDownloadBtn {
    background-color: blue;
    color: white;
    padding: 0.8rem;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
}

.fileDeleteBtn {
    background-color: blue;
    color: white;
    padding: 0.8rem;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
}

.fileInput {
    display: none;
}

.alignLeftCol {
    text-align: left;
}

.alignRightCol {
    text-align: right;
}

.fileCheckbox {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
  }

.fileCheckbox:checked {
    background-color: #000;
}

.btnMenu {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    margin-block: 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);;
    border-radius: 10px;
    padding: 1rem;
    flex-wrap: wrap;
}

.fileTable {
    border-collapse: collapse;
}

.fileTable td, .fileTable th {
    padding: 0.3rem;
}

/* first column */
.fileTable thead th:first-child {
    width: 15%;
}

.fileTable tbody tr:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.fileTable tbody tr:hover .fileNameContainer button:last-child {
    visibility: visible;
}

.fileTable tbody tr {
    user-select: none;
}

.editFileNameBtn {
    display: inline-block;
    background: none;
    border: none;
}

.editFileNameBtn svg {
    margin-right: 0.4rem;
}

.fileNameContainer {
    display: flex;
}

.fileNameContainer button:last-child {
    margin-left: auto;
    visibility: hidden;
}

.fileNameContainer span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
}

/* second column, fixed width so the other columns are not pushed when the edit form is toggled */
.fileTable thead th:nth-child(2) {
    width: 40%;
}

.selectedRow {
    background-color: aliceblue;
}

.changeNameInput {
    padding-block: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid blue;
    width: 100%;
}

.deselectFilesBtn {
    padding: 0.8rem;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;

    @media (min-width: 720px){
        margin-left: auto;
    }
}

.hidden {
    display: none;
}

.btnLabel {
    margin-left: 0.5rem;
}

.errorMessage {
    color: red;
}

.breadcrumbMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

.breadcrumbMenu button {
    font-size: 1.1rem;
    background: none;
    border: none;
    font-weight: 500;
    color: grey;
}

.breadcrumbMenu button:last-child {
    color: black;
    font-size: 1.2rem;
}
